@font-face {
    font-family: 'WillyWonka';
    font-style: normal;
    font-weight: normal;
    src: url('Wonderbar-pALD.woff') format('woff');
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, script;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


    background: linear-gradient(135deg, #FAA4B5, #F8B77C, #FFF183);
    background-size: 400% 400%;
    animation: bgMove 15s ease infinite;
    color: white;
}

@keyframes bgMove {
    0% { background-position: 0% }
    50% { background-position: 100% }
    100% { background-position: 0% }
}


.page {
    width: 95vw;
    height: 90vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.06);
    backdrop-filter: blur(18px);
    border-radius: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    flex: 1;
    text-align: center;
}

.header h1 {
    font-size: 3.5rem;
    font-family: WillyWonka, script;
    cursor: default;
}

.info {
    position: relative;
}

.toggle {
    background: #82BA88;
    opacity: 80%;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#toggle {
    display: none;
}

.how-to-play {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;

    width: 220px;
    padding: 10px;
    border-radius: 10px;

    background: rgba(112, 193, 225, 0.3);
}

#toggle:checked ~ .how-to-play {
    display: block;
}

.grid {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubbles {
    display: flex;
    gap: 60px;
}

.bubble-row.left { transform: translateY(-20px); }
.bubble-row.right { transform: translateY(20px); }


.bubble {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    position: relative;
    cursor: pointer;

    transition: 0.2s;
}

.bubble:hover {
    transform: scale(1.2);
}

.dot {
    position: absolute;
    top: 6px;
    left: 6px;

    width: 10px;
    height: 10px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: white;
}

.b2 { background: linear-gradient(135deg, #EE9096, #B60300); }
.b3 { background: linear-gradient(135deg, #B60300, #EF8503); }
.b4 { background: linear-gradient(135deg, #EF8503, #FDC700); }
.b5 { background: linear-gradient(135deg, #FDC700, #77A800); }
.b6 { background: linear-gradient(135deg, #77A800, #147CBF); }
.b7 { background: linear-gradient(135deg, #147CBF, #86299C); }
.b8 { background: linear-gradient(135deg, #82699C, #EE9096); }

.dot.b2 { background: #B60300; opacity: 20%;}
.dot.b3 { background: #EF8503; opacity: 20%;}
.dot.b4 { background: #FDC700; opacity: 20%;}
.dot.b5 { background: #77A800; opacity: 20%;}
.dot.b6 { background: #147CBF; opacity: 20%;}
.dot.b7 { background: #86299C; opacity: 20%;}
.dot.b8 { background: #EE9096; opacity: 20%;}


.sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
}

.side-item {
    background: rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: default;
}


.legend {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mini {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.candy-bg span {
    position: absolute;
    opacity: 0.1;
}