
body{
    padding: 0;
    justify-content: center;
    align-items: center;
    background: #F5E8AA;
}

@font-face {
    font-family: 'WillyWonka';
    font-style: normal;
    font-weight: normal;
    src: url('Wonderbar-pALD.woff') format('woff');
    }


h1 {
    margin: 0;
    text-align: center;
    color: #EE9096;
    font-family: WillyWonka, script;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, min(10vh, 10vw));
    grid-template-rows: repeat(5, min(10vh, 10vw));
    justify-content: center;

}

.sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
}

.side-item {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: default;
}

.back-button {
    background-color: #EE9096;
    color: white;
    border: none;
    border-radius: 10px;
    /*cursor: default;*/
    cursor: pointer;
    padding: 6px 12px;
    text-decoration: none;
    transition: 0.1s;
}

.next-level-button {
    position: fixed;
    vertical-align: center;
    right: 20px;
    background-color: #EE9096;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 6px 12px;
    display: inline-block;
    transition: transform 0.1s;
    text-decoration: none;
    font-family: WillyWonka;
}

.next-level-button:hover {
    transform: scale(1.1);
}

.next-level-button.enter {

}

.back-button:hover {
    transform: scale(1.1);
}

.bubble{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    background: white;
    border-radius: 50%;
    font-family: Helvetica;
}

.correct{
    background: #6aaa64;
    color: white;
}

.wrong-position{
    background:  #c9b458;
    color: white;
}

.wrong{
    background:  #787c7e;
    color: white;
    cursor: default;
}

.info {
    position: fixed;
    top: 24px;
    right: 30%;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.toggle {
    background: #82BA88;
    font-size: large;
    opacity: 80%;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#toggle {
    display: none;
}

.how-to-play {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;

    width: 220px;
    padding: 10px;
    border-radius: 10px;

    background: rgba(112, 193, 225, 0.3);
}

#toggle:checked ~ .how-to-play {
    display: block;
}

.grid {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard-row {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-button {
    position: absolute;
    vertical-align: center;
    right: 20px;
    background-color: #EE9096;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 6px 12px;
    display: inline-block;
    transition: transform 0.1s;
    text-decoration: none;
    font-family: WillyWonka;
}