@font-face {
    font-family: 'WillyWonka';
    font-style: normal;
    font-weight: normal;
    src: url('Wonderbar-pALD.woff') format('woff');
    }

.container div {
    margin: 0;
    border-radius: 50%;
    font-family: Helvetica;
    background: linear-gradient(135deg, #77A800, #147CBF);
    text-align: center;
    size: 200px;
}

h1 {
    text-align: center;
    color: #147CBF;
    font-family: WillyWonka, script;
}
.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(6, 60px);
    justify-content: center;
    opacity: 20%;
}

body {
    padding: 0;
    background: #FFF183;
    justify-content: center;
    align-items: center;
}

.sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
}

.side-item {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: default;
}