<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{level2.css}">
    <link rel="stylesheet" th:href="@{winPopup.css}">
    <link rel="stylesheet" th:href="@{losePopup.css}">

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>


    <title>Two letters</title>
</head>
<body>

    <h1>2 letters</h1>

    <div class = "flex-container">
        <div>
            <aside class="sidebar">
                <a th:if="${loggedInUser != null}" class="side-item">
                    🥉Streak
                </a>
                <a th:if="${loggedInUser != null}" class="side-item" id="pointsUpdated">
                    ⭐ Score: <span th:text="${points}" id="points"></span>
                </a>
            </aside>
        </div>

        <a th:if="${loggedInUser == null}" th:href="@{/login}" class="login-button" title="login if you want to save your guesses" style="font-size:3.5vh">
            Login
        </a>
        <!--Logout only shows when a user is logged in-->
        <a th:if="${loggedInUser != null}" th:href="@{/logout}" class="logout-button" style="font-size:3.5vh">
            Logout 🍬 <span th:text="${loggedInUser}"></span>
        </a>
    </div>

<!--Game container holding selected word lenght som are two letters -->
<div id="game" data-length="2" data-rows="6" class="container">
    <div class="bubble"></div>
    <div class="bubble"></div>

    <div class="bubble"></div>
    <div class="bubble"></div>

        <div class="bubble"></div>
        <div class="bubble"></div>

        <div class="bubble"></div>
        <div class="bubble"></div>

        <div class="bubble"></div>
        <div class="bubble"></div>

        <div class="bubble"></div>
        <div class="bubble"></div>

    </div>


<div th:replace="winPopup :: winPopup"></div>
<div th:replace="losePopup :: losePopup"></div>


<a th:href="@{/play}" class="back-button" style="font-size:25px">⬅
</a>

<a th:href="@{/level3}" class="next-level-button" style="font-size:25px">Next level
</a>
        <div class="timer-container">
            <div id="timer" class="timer">⏱️00:00</div>
            <button id="startTimerBtn" class="start-timer-btn">
                Start timer
            </button>
        </div>

<script th:src="@{/game.js}"></script>

</body>
</html>